# Eclipse
.project
.metadata
.classpath
*.tmp
.settings/

# Intellij
.idea/
*.iws
*.ipr
*.ids
*.orig
*.iml

# VSCode
.vscode/

# Gradle
.gradle
classes/
build/
!gradle-wrapper.jar

# Dirs
bin/
.directory

# Logs
*.log
